// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
$main-font: 'Manrope', sans-serif;
$font-size: 28px;
// Colors - Primary
$primary-cyan: hsl(193, 38%, 86%);
$primary-neon-green: hsl(150, 100%, 66%);
// Colors - Neutral
$neutral-grayish-blue: hsl(217, 19%, 38%);
$neutral-grayish-dark-blue: hsl(217, 19%, 24%);
$neutral-dark-blue: hsl(218, 23%, 16%);
